


.THeading{
    background-color: #005387;
    font-weight: bold;
    color:white;
    text-align: left;
}

.TData
{
    background-color: silver;
}

#ScrollDiv
{
    height:200px;
    width:820px;
    overflow:auto;
}